body {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	margin: auto;
	background-color: white;
	background-image: url(https://kattow88.github.io/weatherpug/assets/bg.png);
	background-repeat: repeat-x;
	background-size: contain;
	height: 100%;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #996f00;
	text-decoration: underline;
}

ul {
	list-style-type: none;
	margin: 1em 1.5em;
	padding: 0;
	overflow: hidden;
}

li {
	float: right;
	text-transform: uppercase;
	font-size: 0.9em;
}

#home {
	float: left;
}

li a {
	display: block;
	padding: 8px;
}

.title h1 {
	text-transform: uppercase;
	font-size: 4em;
	margin: 0.25em auto 0 auto;
}

#the {
	font-size: 0.6em;
}

.title h3 {
	text-transform: uppercase;
	margin-top: 0.25em;
	font-size: 1.25em;
	letter-spacing: 0.25em;
}

#dougHover {
	height: 25vw;
	width: 25vw;
	margin: auto;
	background-size: contain;
	border: 15px solid #ffba00;
	border-radius: 50%;
	background-image: url(https://kattow88.github.io/weatherpug/assets/hover-doug.jpg);
	display: none;
}

#dougPic {
	height: 25vw;
	width: 25vw;
	margin: auto;
	background-size: contain;
	border: 15px solid white;
	border-radius: 50%;
}

#dougQuote {
	margin: 3vh auto;
	font-size: 1.2em;
}

button {
	font-family: "Montserrat", sans-serif;
	font-size: 2em;
	width: 15vw;
	height: 5vw;
	border: none;
	background-color: rgba(255, 255, 255, 1);
	color: black;
	padding: 0 1em;
}

button:hover {
	background-color: #ffba00;
}

#f {
	display: none;
}

.desc {
	margin-top: 1em;
	text-transform: capitalize;
}

.desc h3 {
	display: inline;
}

form {
	width: 80%;
	margin: 2em auto;
	height: 15vw;
}

.searchTerm {
	display: inline-block;
	width: 80%;
	border: 3px solid black;
	font-family: "Montserrat", sans-serif;
	font-size: 2em;
	height: 5vw;
	border: none;
	background-color: rgba(255, 255, 255, 1);
	color: black;
}

.searchTerm:focus {
	color: #ffba00;
}

:focus {
	outline: 3px solid #ffba00;
}

.searchButton {
	display: inline-block;
	width: 5vw;
}

.sr-only {
	display: none;
	width: 0;
	height: 0;
}

.fa {
	color: black;
	height: 1em;
	width: 100%;
}

footer {
	margin: 1em auto;
}

footer h5 {
	display: inline;
}

@media screen and (max-width: 1000px) {
	#dougHover {
		height: 50vw;
		width: 50vw;
	}

	#dougPic {
		height: 50vw;
		width: 50vw;
	}

	button {
		width: 20vw;
		height: 8vw;
	}

	.searchTerm,
	.searchButton {
		height: 8vw;
	}
}

@media screen and (max-width: 600px) {
	button {
		height: 12vw;
	}
	.searchTerm,
	.searchButton {
		height: 12vw;
	}
}

@media screen and (max-width: 480px) {
	button {
		height: 15vw;
		width: 25vw;
		min-height: 60px;
		min-width: 100px;
	}

	.searchTerm,
	.searchButton {
		height: 15vw;
		min-height: 60px;
	}

	#youtube {
		display: none;
	}
	#instagram {
		display: none;
	}
	footer h5 {
		display: block;
		margin: 0.75em;
	}
	#spacer {
		display: none;
	}
}
